.country-label {
    display: inline-block;
    font-size: 33px;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 5px;
}

.new-country-label {
    display: block;
    font-size: 33px;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 5px;
}

table {
    margin: 10px 20px 0px;
    padding-bottom: 15px;
    width: 97%;
}

th {
    text-align: left;
    border-bottom: 2px solid #bbb;
}

td {
    vertical-align: center;
    border-bottom: 1px solid #bbb;
}

tr:hover {
    background-color: #f5f5f5;
}

.plus-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.country-input {
    font-size: medium;
    height: 30px;
    margin: 15px 0 10px 20px;
    width: 300px;
}

.form-buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: right;
}

.form-buttons button {
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    height: 35px;
    margin: 7px 10px;
    text-align: center;
    width: 100px;
}